.board {
    width: 600;
    height: 600px;
}

.board td {
    font-weight: bold;
    text-align: center;
}

.board td img {
    width: 20px;
    height: 20px;
}

.board tr:nth-child(even) td:nth-child(odd),
.board tr:nth-child(odd) td:nth-child(even)
 {
    border: 1px black solid;
    background-color: black;
    color: white;
}
